.container{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
}

.header>h1{
    text-align: center;
    font-style: normal;
}

.widgets{
    text-align: center;
}

.widgets>button{
    font-size: 16px;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
}

.hover-effect {
    background: linear-gradient(to right, gold, aqua);
    background-size: 200% 100%;
    background-size: 200% 100%; /* Double the background size */
    background-position: right bottom; /* Start position of the background */
    transition: background-position 0.5s ease-in-out; /* Smooth transition */
    color: white;
    text-align: center;
    font-size: 18px;
  }

  .hover-effect:hover {
    background-position: left bottom; /* End position of the background on hover */
    cursor: pointer;
  }

  .cards{
    width: 80vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card{
    width: 400px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
  }

  .section{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.card-button{
    background: transparent;;
    width: 200px;
    height: 50px;
    outline: none;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: blue;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.card-button:hover{
    background-color: gainsboro;
}


  .section2{
 
  }

