<div class="container">
  <div class="header">
    <h1>
      <span class="welcome"> Welcome </span>
      <span class="user"> {{ userName ? userName : "User" }} </span>
      <i
        (click)="logout()"
        class="pi pi-power-off logout"
        style="font-size: 2rem; margin-left: 6px"
      ></i>
    </h1>

    <div class="menu">
      <div class="widgets" *ngIf="!teamExists">
        <button class="hover-effect" (click)="showCreateTeam()">
          Create Team
        </button>
        <button class="hover-effect" (click)="showJoinTeam()">Join Team</button>
      </div>

      <div class="join-team" *ngIf="joinTeam">
        <form>
          <!-- User info -->
          <div class="user-info">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input
                [(ngModel)]="teamJoin.fullName"
                name="fullname"
                pInputText
                placeholder="Full Name"
              />
            </div>

            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-users"></i>
              </span>
              <input
                [(ngModel)]="teamJoin.teamCode"
                name="teamcode"
                pInputText
                placeholder="Team Code"
              />
            </div>
          </div>
          <!-- User info end -->

          <span class="help-info">
            <i class="pi pi-question-circle"></i>
            <p>
              You will be automatically designated as a
              <strong>Member</strong> when you Join a team
            </p>
          </span>

          <button
            (click)="onTeamJoin()"
            style="text-align: center"
            class="raised-button"
            [disabled]="teamJoin.fullName == '' || teamJoin.teamCode == ''"
          >
            Join
          </button>
        </form>
      </div>

      <div class="create-team" *ngIf="createTeam">
        <form>
          <!-- User info -->
          <div class="user-info">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input
                [(ngModel)]="teamCreate.fullName"
                name="fullname"
                pInputText
                placeholder="Full Name"
              />
            </div>

            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-users"></i>
              </span>
              <input
                [(ngModel)]="teamCreate.teamName"
                name="teamcreate"
                pInputText
                placeholder="Team Name"
              />
            </div>
          </div>
          <!-- User info end -->

          <span class="help-info">
            <i class="pi pi-question-circle"></i>
            <p>
              You will be automatically designated as a
              <strong>Leader</strong> when you create a team
            </p>
          </span>

          <button
            (click)="onTeamCreate()"
            [disabled]="teamCreate.fullName == '' || teamCreate.teamName == ''"
            style="text-align: center"
            class="raised-button"
          >
            Create
          </button>
        </form>
      </div>

      <!-- Submission section -->
      <div class="cards" *ngIf="teamExists">
        <div class="list-items">
          <ul>
            <li>
              <button class="raised-button" (click)="applicationSubmit()">
                Submit Application
              </button>
            </li>
            <li>
              <button class="raised-button" (click)="showtimeline()">
                Timeline
              </button>
            </li>
            <li>
              <button class="raised-button" (click)="showoverView()">
                OverView
              </button>
            </li>
            <li>
              <button class="raised-button" (click)="showTeamMembers()">
                Team Members
              </button>
            </li>
            <li>
              <button
                (click)="logout()"
                class="raised-button"
                style="background-color: lightsalmon"
              >
                Logout
              </button>
            </li>
          </ul>
        </div>

        <div class="display">
          <!-- Application submission -->
          <form
            (ngSubmit)="onSubmit()"
            id="submit-application"
            class="submit-application"
            enctype="multipart/form-data"
            *ngIf="submitApplication"
          >
            <!-- Team info -->
            <div class="team-info">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-user"></i>
                </span>
                <input
                  name="leadername"
                  pInputText
                  placeholder="Leader Name"
                  [(ngModel)]="application.leaderName"
                />
              </div>

              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-users"></i>
                </span>
                <input
                  name="teamname"
                  pInputText
                  placeholder="Team Name"
                  [(ngModel)]="application.teamName"
                />
              </div>

              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-key"></i>
                </span>
                <input
                  name="teamcode"
                  pInputText
                  placeholder="Team Code"
                  [(ngModel)]="application.teamCode"
                />
              </div>
            </div>

            <div class="team-info">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-key"></i>
                </span>
                <input
                  name="collegename"
                  [(ngModel)]="application.collegeName"
                  pInputText
                  placeholder="College/University Name"
                />
              </div>
            </div>

            <!-- Member info -->
            <!-- File upload -->
            <div class="file-upload" *ngIf="!isIdeaSubmitted">
              <div class="file-input-container">
                <label class="file-label" for="file">Choose file:</label>
                <input
                  class="file-input"
                  type="file"
                  id="file"
                  (change)="onUpload($event)"
                  required
                />
              </div>
            </div>

            <div class="already-submitted" *ngIf="isIdeaSubmitted">
              <h2>Application already submitted.</h2>
              <a *ngIf="fileUrl" [href]="fileUrl" download="filename.pdf"
                >Download PDF</a
              >

              <button
              *ngIf="isIdeaSubmitted"
              class="raised-button"
              (click)="checkApplicationStatus()"
            >
            Check Status
            </button>
            </div>

            <button
              *ngIf="!isIdeaSubmitted"
              [disabled]="
                application.leaderName == '' ||
                application.collegeName == '' ||
                application.teamName == '' ||
                application.teamCode == ''
              "
              type="submit"
              class="submit-button raised-button"
            >
              Submit Application
            </button>
          </form>

    

          <!-- Timeline starts-->

          <p-timeline
            *ngIf="timeline"
            [value]="events"
            align="alternate"
            styleClass="customized-timeline"
          >
            <ng-template pTemplate="marker" let-event>
              <span
                class="custom-marker shadow-2"
                [style.backgroundColor]="event.color"
              >
                <i [ngClass]="event.icon"></i>
              </span>
            </ng-template>
            <ng-template pTemplate="content" let-event>
              <p-card [header]="event.status" [subheader]="event.date">
                <img
                  *ngIf="event.image"
                  [src]="
                    'https://primefaces.org/cdn/primeng/images/demo/product/' +
                    event.image
                  "
                  [alt]="event.name"
                  width="200"
                  class="shadow-2"
                />
                <p></p>
                <button
                  pButton
                  label="Read more"
                  class="p-button-text"
                ></button>
              </p-card>
            </ng-template>
          </p-timeline>
          <!-- Tineline ends -->

          <!-- Team members -->
          <div class="team-member" *ngIf="teammembers">
            <table class="glass-table">
              <thead>
                <tr>
                  <th>MemberId</th>
                  <th>Name</th>
                  <th>user id</th>
                  <th>Designation</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of team.members">
                  <td>{{ member.memberId }}</td>
                  <td>{{ member.memberName }}</td>
                  <td>{{ member.username }}</td>
                  <td>{{ member.memberDesignation }}</td>
                  <td>
                    <!-- toast section -->
                    <p-toast></p-toast>
                    <p-confirmPopup></p-confirmPopup>
                    <p-button
                      icon="pi pi-times"
                      [disabled]="memberDesignation == 'Member'"
                      (click)="removeMember(member, $event)"
                      severity="danger"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="team-information">
              <span>Team Code: {{ team.teamCode }}</span>
              <span>Team Name: Drive Blaze</span>
              <span
                >You can have {{ 3 - team.members.length }} member(s) more</span
              >
            </div>
          </div>

          <!-- Over View -->

          <div class="over-view" *ngIf="overview">
            <h2>Guidelines for participants</h2>
            <ul>
              <li>Every Team must have a proper identifiable name.</li>

              <li>
                Every Team must contain a minimum of 1 and a maxmimum of 3
                members.
              </li>

              <li>
                The leader of the team will be responsible for adding or
                removing members from the team.
              </li>

              <li>
                Every team will get a chance to submit their idea presentation
                only once, therefore please be careful.
              </li>

              <li>
                Registrations for the hackathon will begin from 20th August
                2024.
              </li>

              <li>
                To join a team you must have the proper team code, for that
                given team.
              </li>

              <li>
                Team Code will be available to members, who can therefore share
                it with others.
              </li>

              <li>
                Team Leader shall recieve a teamcode upon creating a team.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
