<div class="main-container">
  <div class="header">
    <h1 class="shining-text">Hack For Blaze 1.0</h1>

    <i class="pi pi-gift" style="font-size: 3rem;color: aqua;"></i>
  </div>

  <div class="sub-text">
    <p>
      Hack for Blaze 1.0 is an exciting hackathon that challenges participants
      to innovate and create solutions across diverse and impactful themes. 
      Teams can focus on Mental Health/Fitness, developing tools that promote
      well-being and healthy lifestyles, or delve into Renewable/Green Energy,
      driving sustainability through innovative energy solutions.The
      Gamification of Learning theme invites participants to make education
      engaging and fun, while Fintech Education seeks to demystify finance for
      all. Smart Education challenges teams to enhance learning through
      technology, and Disaster Management calls for solutions that improve
      response and recovery efforts during crises. Whether hardware, software,
      or a combination of both, Hack for Blaze 1.0 is a platform for creative
      minds to make a real-world impact.
    </p>
  </div>

  <div class="themes">

    <h2 class="shining-text sub-head">Themes</h2>
    <ul>
        <li>Mental Health / Fitness</li>
        <li>Renewable / Green Energy</li>
        <li>Gamification of learning</li>
        <li>Fintech Education</li>
        <li>Smart Education</li>
        <li>Disaster management.</li>
    </ul>
  </div>

  <div class="widgets">
    <button (click)="goto('/events/register')" class="button-w">Register</button>
    <button (click)="goto('/events/login')" class="button-w">Login</button>
    <button  (click)="goto('/events/timeline')"class="button-w">Timeline</button>
  </div>
</div>
