<div class="container">
    <p-card header="Hackathons" subheader="Create, Innovate, Launch" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="/assets/images/hackathon.jpg" />
        </ng-template>
        <p>
          Exotic hackathons organized by Drive Blaze
        </p>
        <ng-template pTemplate="footer">
            <button
            (click)="gotoHackathon()"
            class="animated-button" 
            icon="pi pi-check">Visit</button>
        </ng-template>
    </p-card>

    <p-card header="Contests" subheader="Create, Innovate, Launch" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="/assets/images/contest.jpg" />
        </ng-template>
        <p>
          Exotic hackathons organized by Drive Blaze
        </p>
        <ng-template pTemplate="footer">
            <button
            class="animated-button" 
            icon="pi pi-check">Visit</button>
        </ng-template>
    </p-card>


    <p-card header="Tech Talks" subheader="Create, Innovate, Launch" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="/assets/images/techtalk.jpg" />
        </ng-template>
        <p>
          Exotic hackathons organized by Drive Blaze
        </p>
        <ng-template pTemplate="footer">
            <button
            class="animated-button" 
            icon="pi pi-check">Visit</button>
        </ng-template>
    </p-card>


    <p-card header="Workshops" subheader="Create, Innovate, Launch" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="/assets/images/workshop.jpg" />
        </ng-template>
        <p>
          Exotic hackathons organized by Drive Blaze
        </p>
        <ng-template pTemplate="footer">
            <button
            class="animated-button" 
            icon="pi pi-check">Visit</button>
        </ng-template>
    </p-card>
</div>
