<div class="main-container">
  <div class="header">
    <h1 style="color: gold">Register</h1>
  </div>

  <div class="form">
    <form >
     
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input
             pInputText 
             placeholder="Username" 
             name="userName"
             [(ngModel)]="formData.userName"/>
        </div>


        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
            <input 
            [(ngModel)]="formData.passWord" 
            pInputText 
            type="password"
            name="passWord"
            placeholder="Password" />
        </div>

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-star-fill"></i>
            </span>
            <input 
            [(ngModel)]="formData.event" 
            value="Hack The Blaze 1.0" 
            id="disabled-input" 
            type="text" 
            pInputText 
            name="event"
            [disabled]="true" />
        </div>

        <button class="button-w" 
        [disabled]="formData.userName=='' 
        || formData.passWord==''
        || validatePassword(formData.passWord)==false
        " 
        (click)="register()">Register</button>

        <div class="widgets">
            <p-button (click)="goto('')" label="Forgot Password?" [link]="true" class="custom-button"></p-button>
            <p-button (click)="goto('/events/login')" label="Already an user? Login" [link]="true" class="custom-button"></p-button>
        </div>
    </form>
  </div>
</div>
