<div class="container">
    <div class="logo" (click)="home()">
        <div class="logo-img">
            <img src="/assets/images/logo2.png" alt="">
        </div>
        <div class="logo-text">
            <h2>Drive Blaze</h2>
        </div>
    </div>
    <nav class="nav-items">
        <ul>
            <li *ngFor="let route of getNavRoutes(1)">
            <a [routerLink]="route.routerLink">{{route.name}}</a>
            <div class="line"></div>
            </li>
        </ul>
    </nav>
</div>