<div class="container">
    <div class="logo" (click)="home()">
        <div class="logo-img">
            <img src="/assets/images/logo2.png" alt="">
        </div>
        <div class="logo-text">
            <h2>Drive Blaze</h2>
        </div>
    </div>
    <nav class="nav-items">
        <ul>
            <li>
            <a href="">Schedule</a>
            <div class="line"></div>
            </li>
            <li>
                <a href="">events</a>
                <div class="line"></div>
            </li>
            <li>
                <a href="">Workshops</a>
                <div class="line"></div>
            </li>
            <li>
                <a href="">Activities</a>
                <div class="line"></div>
            </li>
            <li>
                <a href="">Sponsors</a>
                <div class="line"></div>
            </li>
            <li>
                <a href="">Our Team</a>
                <div class="line"></div>
            </li>
            <li>
                <a href="">Contact Us</a>
                <div class="line"></div>
            </li>
        </ul>
    </nav>
</div>