/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}


/* Scroll bar properties */
/* Webkit browsers (Chrome, Safari) */
